.signUpForm {
  display : flex;
  flex-direction : column;
  width : fit-content;
}
.signUpForm > input {
  margin-bottom: 8px;
}

.formContainer {
  display : flex;
  place-content : center;
}
.headerContainer {
  display : flex;
  place-content : center;
}
