/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: #222;
  --text-color: #eee;
}


html {
  background-color: var(--background-color);
  color: var(--text-color);
}
